<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.azbest.csstatservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_themble"
        android:logo="@mipmap/ic_launcher_themble"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSStatService">
        <activity android:name=".activity.AddRecordActivity"
            android:parentActivityName=".activity.PictureDetailActivity">
        </activity>
        <activity android:name=".activity.PictureUpdateActivity"
            android:parentActivityName=".activity.PictureDetailActivity">
        </activity>
        <activity android:name=".activity.RecordsListActivity"
            android:parentActivityName=".activity.PictureDetailActivity">
        </activity>
        <activity android:name=".activity.PictureDetailActivity">
        </activity>
        <activity
            android:name=".activity.AddPictureActivity"
            android:label="AddPicture"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecordUpdateActivity"
            android:parentActivityName=".activity.RecordsListActivity">

        </activity>
    </application>

</manifest>